<div class="menu wrap">
	<a href="/" class="logo"><img src="img/logo.png"></a>
	<a href="/">Home</a>
	<a href="/contact">Contact</a>
	<a href="/about">About Us</a>
	<a href="/faq">FAQs</a>
	<!--a href="/vendor">Vendor Resources</a-->
	<a href="/search" ng-show="loggined == true">Search</a>
	<a href="/vendordash" ng-show="loggined == true">VDB</a>
	<a href="/account" ng-show="loggined == true">Account</a>

	<div class="login" ng-show="loggined == true">
		<a href="" ng-click="logout()">Exit</a>
	</div>

	<div class="login" ng-show="loggined == false">
		<a href="/signup" class="reg">Register</a>
		<a href="/signin" class="log">Login</a>
	</div>
</div>