
<div class="header header_pages">
	
	<div ng-include="'views/_menu.html'"></div>

	<div class="page_name wrap">
		About us
	</div>
</div>


<div class="about_page wrap">

	<h2>Our Features</h2>
	<div class="list">
		<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
		<div>Etiam eget purus auctor orci faucibus fermentum id sit amet diam.</div>
		<div>In feugiat nulla ac tincidunt tristique.</div>
		<div>Praesent fermentum ante in ex feugiat hendrerit.</div>
		<div>Ut eu sem vel nisl accumsan dapibus et quis nibh.</div>
		<div>In vestibulum quam eu vestibulum rhoncus.</div>
		<div>Duis laoreet metus nec ultrices dictum.</div>
		<div>Vivamus nec lectus quis erat maximus viverra.</div>
	</div>

	<h3>Our Mission</h3>
	<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>

	<div class="shape"></div>

</div>


<div ng-include="'views/_footer.html'"></div>