<div class="header header_pages">
	
	<div ng-include="'views/_menu.html'"></div>

	<div class="page_name wrap">
		Contact Us
	</div>
</div>


<div class="contact_page wrap">

	<div class="form">
		<input type="text" placeholder="Your Name">
		<input type="text" placeholder="Your Email">
		<input type="text" placeholder="Subject">
		<textarea placeholder="Message" rows="4"></textarea>
		<button>Submit</button>
	</div>

	<div class="info">
		<div class="list address">
			<b>Address:</b> 560 Judah St & 15th Ave,<br>
			Apt 5 San Francisco, CA, 230903
		</div>

		<div class="list phone">
			<b>Telenor:</b> 541-9966-9874
		</div>

		<div class="list email">
			<b>Email:</b> zippygigs@info.com
		</div>

		<h3>Follow us on:</h3>

		<div class="links">
			<a href="#"><img src="img/contact_facebook.png"></a>
			<a href="#"><img src="img/contact_twitter.png"></a>
			<a href="#"><img src="img/contact_youtube.png"></a><br>
			<a href="#"><img src="img/contact_pint.png"></a>
			<a href="#"><img src="img/contact_linkedin.png"></a>
			<a href="#"><img src="img/contact_google.png"></a>
		</div>
	</div>

</div>



<div ng-include="'views/_footer.html'"></div>
