
<div class="header header_pages search_page_header">
	
	<div ng-include="'views/_menu.html'"></div>

	<div class="page_name wrap">
		Customer Dashboard
	</div>
</div>


<div class="customdash wrap">

	<div class="info">
		<div class="avatar">
			<img src="img/search_user.jpg">
		</div>

		<div class="name">
			First name:
			<b>Jimmy Johnson</b>
		</div>

		<div class="clear"></div>

		<div class="about">
			<b>Game Developed <div class="price">$129</div></b>
			<div class="desc">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, velit.</div>
		</div>

		<div class="rating">
			<span>Response rating by stars</span>
			<img src="img/search_user_star.png">
			<img src="img/search_user_star.png">
			<img src="img/search_user_star_empty.png">
			<img src="img/search_user_star_empty.png">
			<img src="img/search_user_star_empty.png">
		</div>

		<div class="rating">
			<span>Satisfaction rating by stars</span>
			<img src="img/search_user_star.png">
			<img src="img/search_user_star.png">
			<img src="img/search_user_star.png">
			<img src="img/search_user_star_empty.png">
			<img src="img/search_user_star_empty.png">
		</div>

		<div class="post">POST</div>
		<div class="profile">Customer Profile</div>
	</div>

	<div class="items">
		<div class="head">
			All Gigs paid for
			<b>2</b>
		</div>

		<div class="list">
			<div class="item selected">
				<b>Game Developed <div class="price">$129</div></b>
				<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, velit.</p>
				<a>View Details</a>
			</div>

			<div class="item">
				<b>Interior Designs <div class="price">$250</div></b>
				<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, velit.</p>
				<a>View Details</a>
			</div>
		</div>
	</div>

	<div class="clear"></div>

</div>


<div ng-include="'views/_footer.html'"></div>
