<div class="header header_pages">
	
	<div ng-include="'views/_menu.html'"></div>

	<div class="page_name wrap">
		FAQs
	</div>
</div>


<div class="faq_page wrap">

	<div class="title">Find answes to any question you have.</div>

	<div class="faq_list">
		<div class="item">
			<div class="ask">What is Zippy Gigs?</div>
			<div class="answer">
			<ul><li>Zippy Gigs is a community of vendors that are available to help you with those small and large jobs or projects. The difference is that you will find someone that is available NOW! No more waiting around for a phone call back.</li></ul></div>
		</div>

		<div class="item">
			<div class="ask">Why should I use Zippy Gigs?</div>
			<div class="answer">
				<ul>
					<li>All Vendors have passed a background screening.</li>
					<li>No waiting. You hire someone that is available now.</li>
					<li>Schedule an appointment in advance.</li>
					<li>Upfront pricing. You know what you are paying or can negotiate prices.</li>
					<li>No search several sites for different needs. If you need help with something, Zippy Gigs most likely will have a vendor ready to help you with any project or job. </li>
					<li>Supporting local Freelancers, Independent Contracts and Small business owners. </li>
				</ul>
			</div>
		</div>

		<div class="item">
			<div class="ask">How do I sign up to become a Vendor?</div>
			<div class="answer">
				<ul>
					<li>Register Here (link this to the registration page)</li>
					<li>Upload your background check</li>
					<li>Once you have passed the background check your account will be approved.</li>
					<li>Pay for membership to activate your account.</li>
				</ul>
			</div>
		</div>

		<div class="item">
			<div class="ask">How much does it cost for a Vendor Membership?</div>
			<div class="answer">
				<ul>
					<li>First 3 months FREE. Giving you time to build your business and clientele</li>
					<li>Never pay a percentage of what you earn. Zippy Gigs only charges you a monthly membership fee. </li>
					<li>Membership Plans:</li>
						<ul class="inside">
							<li>1-month membership: $39.99 a month</li>
							<li>3-month membership: $34.99 a month</li>
							<li>6-month membership: $29.99 a month</li>
						</ul>
				</ul>
			</div>
		</div>

		<div class="item">
			<div class="ask">How much does it cost for a Customer Membership?</div>
			<div class="answer">
				<ul><li>It is always FREE! No cost to sign up, search and hire someone to help you with your small or large projects. Start your search today!</li></ul>
			</div>
		</div>

		<div class="item">
			<div class="ask">What is Zippy Gigs’ Background screening standards?</div>
			<div class="answer">
				<ul>
					<li>Background Screening Standards (link to Zippy Gigs’ Background Screening Standards page)</li>
					<ul>
						<li>Use the website header and footer that I sent over.</li>
						<li>Information for this page will be sent in a different document.</li>
					</ul>
				</ul>
			</div>
		</div>
	</div>

</div>



<div ng-include="'views/_footer.html'"></div>
