<div class="header header_signup">
	
	<div ng-include="'views/_menu.html'"></div>

	<div class="form_sign login">
		<div class="top">
			<div class="icon login"></div>
			<h2>LOGIN</h2>
		</div>

		<div class="label"><img src="img/icon_sign_login.png">Name</div>
		<input type="text" ng-model="login">

		<div class="label"><img src="img/icon_sign_pass.png">Password</div>
		<input type="password" ng-model="password">

		<button ng-click="signin()">Login</button>

		<div class="go_reg">
			Do you have on account? <a href="/signup">Register Here</a>
		</div>

	</div>	

</div>


<div class="wrap terms">
	<h2 id="terms">Terms & Conditions</h2>

	<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
</div>



<div ng-include="'views/_footer.html'"></div>
